@import "../../style/import";

.text-box {
    @include dynamic-spacing(margin, large);
    @include dynamic-spacing(padding, default);

    background: color($color-box-default, $lightness-box-background, $alpha-box-content);
    box-shadow: $shadow-box;

    a {
        text-decoration: underline;
    }

    dl, p:not(:last-child), ul {
        @include dynamic-spacing(margin-bottom, default);
    }

    dl {
        dt {
            font-weight: bold;
            padding: $spacing-tiny $spacing-small;
        }
        dd {
            font-family: monospace;
            font-size: 1rem;
            padding: $spacing-tiny $spacing-large;
        }

        @include breakpoint(medium) {
            display: flex;
            flex-wrap: wrap;

            dt {
                flex-basis: 15rem;
                flex-shrink: 0;
                padding: $spacing-tiny $spacing-small;
                text-align: right;
            }
            dd {
                flex-basis: calc(100% - 15rem);
                flex-grow: 1;
                padding: $spacing-tiny $spacing-small;
            }
        }
    }

    ul {
        li {
            list-style: disc;
            margin-left: 2rem;
        }
    }
}
